@keyframes example {
  0% {
    background-color: rgba(158, 169, 255, 0.5);
  }
  100% {
    background-color: green;
  }
}

@font-face {
  font-family: Mystic-Singler;
  src: url('../fonts/Mystic-Singler.ttf');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: white;
  font-family: Courier New, Courier, monospace;
  font-weight: 400;
  line-height: 1.7;
  background-image: url('../img/background.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.canvas {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.content {
  margin: 1rem;
}

.title {
  font-family: Mystic-Singler, Charcoal, sans-serif;
  font-size: 5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.label {
  font-size: 2rem;
}

.stats--stat {
  text-align: center;
  margin: 0 1rem;
  padding: 1rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  width: 10rem;
  background-color: rgba(158, 169, 255, 0.521);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.select-size {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.input {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  justify-content: center;
}

.instructions {
  margin-bottom: 4rem;
  text-align: justify;
}

.leaderboard {
  font-family: Courier New, Courier, monospace;
}

.leaderboard--table {
  font-size: 1em;
  margin: auto;
}

.leaderboard--table th,
td {
  width: 33%;
  padding: 1rem 3rem;
  text-align: left;
}

@media only screen and (min-device-width: 768px) {
  .content {
    margin: 2rem;
  }

  .title {
    font-size: 10rem;
    text-align: center;
  }

  .select-size {
    margin-bottom: 5rem;
  }

  .info {
    font-size: 2rem;
  }

  .instructions {
    margin: auto;
    margin-bottom: 4rem;
    width: 60rem;
  }

  .leaderboard {
    margin: auto;
    width: 60rem;
  }
}
