body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  background-color: black;
  background-image: url("../img/background2.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#title {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 46px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}