@keyframes example {
  0%   {background-color: rgba(158, 169, 255, 0.521);}
  100% {background-color: green;}
}
@font-face {
  font-family: Mystic-Singler; src: url('../fonts/Mystic-Singler.ttf');
} 

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  background-color: black;
  background-image: url("../img/background2.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin: 0px auto 20px auto;
  display: block;
}
th, td {
  padding: 10px 30px 10px 30px;
  text-align: left;
}
#title {
  font-family: Mystic-Singler, Charcoal, sans-serif;
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#instructions {
  width: 400px;
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  margin-left: 10px;
}
#timerDiv, #moveCountDiv {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 0px 10px 20px 10px;
  padding: 0px 20px 0px 20px;
  width: 80px;
  border-radius: 5px;
  background-color: rgba(158, 169, 255, 0.521);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#leaderBoardDiv {
  height: 400px;
}
#leaderBoard {
  overflow-y: auto;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-text {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.label {
  font-size: 150%;
}
