.board {
  position: relative;
  user-select: none;
  box-shadow: 0 2rem 4rem rgba(#000, 0.3);

  &__overlay {
    height: 100%;
    width: 100%;
    background-color: rgba($color-grey-dark-1, 0.3);
    border-radius: 5px;
    font-size: 6rem;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;

    &:hover {
      color: darken($color-grey-dark-1, 10%);
    }
  }

  &__content {
    height: 60rem;
    width: 60rem;
    margin: auto;
    padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 5px;
    background-color: $color-primary;
    user-select: none;

    display: flex;
    flex-wrap: wrap;
  }

  &__tile {
    background-color: $color-grey-light-1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 5px;
    transition: all 0.2s ease-out;
    cursor: pointer;

    &:hover {
      background: darken($color-grey-light-1, 5%);
    }

    &--empty {
      opacity: 0;
      cursor: default;
    }
  }
}
