@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../base/typography';

.board {
  position: relative;
  user-select: none;
  box-shadow:
    0 2rem 4rem rgb(0 0 0 / 0.4),
    inset 0 0.15rem 0.3rem rgb(255 255 255 / 0.25);
  border-width: 0.5rem;
  border-style: solid;
  border-color:
    color.adjust($color-primary, $lightness: 18%) 
    color.adjust($color-primary-dark, $lightness: -18%)
    color.adjust($color-primary-dark, $lightness: -18%)
    color.adjust($color-primary, $lightness: 18%);
  background-color: $color-primary;

  &__overlay {
    @extend %heading-1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: inherit;
    border-radius: inherit;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;

    &:hover {
      color: color.adjust($color-grey-dark-1, $lightness: -10%);
    }
  }

  &__content {
    user-select: none;

    display: grid;
    grid-template-columns: repeat(var(--board-columns), 1fr);
    gap: 0;
  }

  &__tile {
    background-color: $color-grey-light-1;
    border: 0.1rem solid black;
    font-size: calc(30vw / var(--board-columns));
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      height: 0;
      padding-bottom: 100%;
    }

    &:hover {
      background: color.adjust($color-grey-light-1, $lightness: -5%);
    }

    &--empty {
      opacity: 0;
      cursor: default;
    }
  }
}

@media screen and (min-width: 63rem) {
  .board {
    &__content {
      grid-template-columns: repeat(var(--board-columns), 1fr);
      gap: 0;
    }
  
    &__tile {
      font-size: calc(18rem / var(--board-columns));
    }
  }
}