.btn {
  font-family: $font-primary;
  font-size: 2rem;
  text-transform: uppercase;
  color: inherit;
  border: none;
  border-radius: 5px;
  background-color: $color-primary;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.3rem 1rem rgba(#000, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
  }
}
