.select {
  @extend %heading-2;
  justify-self: center;
  text-align: center;

  &__text {
    margin-bottom: 2vw;
  }

  &__input {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    &:focus,
    &:active {
      outline: none;
    }
  }
}

@media screen and (min-width: 630px) {
  .select {
    &__text {
      margin-bottom: 2rem;
    }
  }
}
