*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --board-columns: 4;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $color-grey-light-1;
}

.container {
  max-width: 63rem;
  margin: 3rem auto;
  padding: 0 1.5rem;

  display: grid;
  grid-row-gap: 8vw;
}

@media screen and (min-width: 630px) {
  .container {
    grid-row-gap: 3rem;
  }
}
